.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5A4DF8;
    padding: 0 20px;
    height: 40px;
    color: white;

    .left {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .right {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .logo {
        width: 60px;
        height: 30px;
    }

    .title {
        display: flex;
        flex-direction: row;
        height: 40px;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
    
        span {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    
        .pro-name {
            display: flex;
            flex-direction: row;
            line-height: 30px;
            padding: 0 10px;
            border-radius: 2px;
            font-size: 16px;
            font-weight: 500;
            white-space: pre;
        }
    
        .el-icon {
            margin-left: 8px;
            font-size: 14px;
        }

        .ant-select-selector {
            background-color: transparent;
            border: none;
            color: white;
        }

        .ant-select-arrow {
            color: white;
        }

        .ant-select-open {
            .ant-select-selection-item {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
    
    .message {
        font-size: 14px;
    }

    .openai-icon {
        margin-right: 50px;
        transition: transform 1s ease-in-out;
        
        &:hover {
            transform: rotate(270deg) scale(1.1);
        }
    }
}