.code-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    .code-left {
        height: 100%;
        width: 200px;
        display: flex;
        background-color: white;
        flex-direction: column;
        .code-left-header {
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}