.ai-chat-input {
    position: relative;
    padding: 8px;
    background: white;
    margin: 8px;
    border-radius: 6px;

    .ai-chat-input-thinking {
        color: #8a8a8a;
        font-size: 14px;
        padding: 4px;
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        padding: 0 8px;
        height: 30px;
        line-height: 30px;
        background: white;
        line-height: 30px;
        border-radius: 6px;

        .loading-dots {
            &::after {
                content: '';
                animation: loading-dots 1.5s infinite;
                display: inline-block;
                width: 2em;
                text-align: left;
            }
        }
    }

    .ai-chat-input-textarea {
        border: none;
        box-shadow: none;
        outline: none;
        padding: 4px 0;

    }

    .ai-chat-input-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px;

        .ai-chat-input-model {
            color: #8a8a8a;
        }

        .ai-chat-input-submit {
            cursor: pointer;
            color: #5A4DF8;
            font-size: 14px;
            display: inline-block;
            width: 24px;
            height: 24px;
            min-width: 24px;
            background: black;
            border-radius: 50%;
            color: white;
            line-height: 24px;
            text-align: center;

            &:hover {
                opacity: .8;
                background: black;
            }

            &:disabled {
                opacity: .4;
                cursor: not-allowed;
            }
        }
    }
}

@keyframes loading-dots {
    0% { content: ''; }
    25% { content: '.'; }
    50% { content: '..'; }
    75% { content: '...'; }
    100% { content: ''; }
}
